
<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <div class="row">
            <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0">0</h3>
                <p class="text-success ml-2 mb-0 font-weight-medium">100%</p>
                </div>
            </div>
            <div class="col-3">
                <div class="icon icon-box-success ">
                <span class="mdi mdi-arrow-top-right icon-item"></span>
                </div>
            </div>
            </div>
            <h6 class="text-muted font-weight-normal">Nombre de Client Enregistrer</h6>
        </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <div class="row">
            <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0">0</h3>
                <p class="text-success ml-2 mb-0 font-weight-medium">100%</p>
                </div>
            </div>
            <div class="col-3">
                <div class="icon icon-box-success">
                <span class="mdi mdi-arrow-top-right icon-item"></span>
                </div>
            </div>
            </div>
            <h6 class="text-muted font-weight-normal">Nombre de Produits</h6>
        </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <div class="row">
            <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0">8</h3>
                </div>
            </div>
            <div class="col-3">
                <div class="icon icon-box-success">
                <span class="mdi mdi-arrow-top-right icon-item"></span>
                </div>
            </div>
            </div>
            <h6 class="text-muted font-weight-normal">Nombre de Categories</h6>
        </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <div class="row">
            <div class="col-9">
                <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0">$0</h3>
                <p class="text-success ml-2 mb-0 font-weight-medium">+0%</p>
                </div>
            </div>
            <div class="col-3">
                <div class="icon icon-box-success ">
                <span class="mdi mdi-arrow-top-right icon-item"></span>
                </div>
            </div>
            </div>
            <h6 class="text-muted font-weight-normal">Revenu quotidien</h6>
        </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Historique des transactions</h4>
          <canvas id="transaction-history" class="transaction-chart"></canvas>
          <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
            <div class="text-md-center text-xl-left">
              <h6 class="mb-1">Transfer to Paypal</h6>
              <p class="text-muted mb-0">07 Jan 2022, 09:12AM</p>
            </div>
            <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
              <h6 class="font-weight-bold mb-0">$0</h6>
            </div>
          </div>
          <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
            <div class="text-md-center text-xl-left">
              <h6 class="mb-1">Tranfer to Stripe</h6>
              <p class="text-muted mb-0">07 Jan 2022, 09:12AM</p>
            </div>
            <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
              <h6 class="font-weight-bold mb-0">$0</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <h4 class="card-title mb-1">Pc Multi Gaming Pages</h4>
            <p class="text-muted mb-1">Status</p>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="preview-list">
                <div class="preview-item border-bottom">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-primary">
                      <i class="mdi mdi-home"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-sm-flex flex-grow">
                    <div class="flex-grow">
                      <h6 class="preview-subject">Home</h6>
                      <p class="text-muted mb-0">https://www.pcmultigaming.com/#/</p>
                    </div>
                  </div>
                </div>

                <div class="preview-item border-bottom">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-cloud-download"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-sm-flex flex-grow">
                    <div class="flex-grow">
                      <h6 class="preview-subject">Configateur Pc</h6>
                      <p class="text-muted mb-0">https://www.pcmultigaming.com/#/pc-builder</p>
                    </div>
                  </div>
                </div>

                <div class="preview-item border-bottom">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-desktop-mac"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-sm-flex flex-grow">
                    <div class="flex-grow">
                      <h6 class="preview-subject">Peripherique PC GAMER</h6>
                      <p class="text-muted mb-0">https://www.pcmultigaming.com/#/categories/Peripherique-PC-GAMER</p>
                    </div>
                  </div>
                </div>

                <div class="preview-item border-bottom">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-danger">
                      <i class="mdi mdi-account-box-outline"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-sm-flex flex-grow">
                    <div class="flex-grow">
                      <h6 class="preview-subject">Contact</h6>
                      <p class="text-muted mb-0">https://www.pcmultigaming.com/#/contact</p>
                    </div>
                  </div>
                </div>

                <div class="preview-item border-bottom">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-success">
                            <i class="mdi mdi-login-variant"></i>
                        </div>
                    </div>
                    <div class="preview-item-content d-sm-flex flex-grow">
                      <div class="flex-grow">
                        <h6 class="preview-subject">Register</h6>
                        <p class="text-muted mb-0">https://www.pcmultigaming.com/#/register</p>
                      </div>
                    </div>
                </div>

                <div class="preview-item border-bottom">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-success">
                        <i class="mdi mdi-login-variant"></i>
                      </div>
                    </div>
                    <div class="preview-item-content d-sm-flex flex-grow">
                      <div class="flex-grow">
                        <h6 class="preview-subject">Login</h6>  
                        <p class="text-muted mb-0">https://www.pcmultigaming.com/#/login</p>
                      </div>
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">20 Premier Produits</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </th>
                  <th> Nom du produit </th>
                  <th> Prix </th>
                  <th> Descriptif </th>
                  <th> Quantité </th>
                  <th> Disponible </th>
                </tr>
              </thead>
              <tbody>

                


                <tr *ngFor="let product of products">
                  <td>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </td>
                  <td>
                    <img src="{{product.images.split(',')?.[0]}}" alt="image" />
                    <span class="pl-2">{{product?.name}}</span>
                  </td>
                  <td> {{product?.price}} </td>
                  <td> {{product?.description?.substring(0,10)}}</td>
                  <td> {{product.total}} </td>
                  <td>
                    <div *ngIf="product.total > 0" class="badge badge-outline-success">En Stock</div>
                    <div *ngIf="product.total <= 0" class="badge badge-outline-danger">0 Produit</div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div style="text-align: center;margin-top: 50px;">
              <mat-spinner *ngIf="isLoading" value="75" [color]="color" [mode]="mode" style="display: inline-block;">
              </mat-spinner>
            </div>

            

          </div>
        </div>
      </div>
    </div>
</div>